
@import "Reset.css";

#header{
    height: 50px;
    background-color: orange;

}


body{
    height: 100vh;
    border: solid;
    border-color: pink;  
}

#check{
    display: flex;
    border: solid;
    border-color: aquamarine;
    height: calc(100vh - 100px);
    align-items: stretch;
}

#aside{
    background-color: yellowgreen;
    display: fixed;
    width: 100px;
    

}

#main{
    width: 100%;
    border-color: blue;
    border: solid;
    background-color: darkkhaki;

    display: flex;
    flex-direction: column;
}

#main div{
    height: 100%;
}

#main #article-part{
    height: 30%;
    display: flex;
    justify-content: space-evenly;
}

.article{
    border: solid;
    border-color: fuchsia;
    background-color: beige;
    width: 100%;
}

#footer{
    height: 50px;
    background-color: brown;
}